.e-main-container{
    padding: 10px;
}

.emoji-select-btn{
    margin: 10px;
    padding-top: 1vw;
    padding-bottom:1vw ;
    font-size: 2.5rem;
}

.btn-container{
    display: grid;

    grid-template-columns: auto auto;
}

.header-emotion-dialog-box{
    font-size:1.5rem;
    margin: 10px;
}

.lower-half{
    margin: 10px;
}